

/*=============================*/

/*STYLING*/

/*Home Page*/

.smMargin {
  margin: 10px;
}

.material-icons {
  margin: auto;
}

.card-image {
  display: inline-block;
  width: 7vw;
}

.card-content {
  display: inline-block;
}

.formSubtitle {
  margin-top: 8vh;
}

.input-field {
  margin: 8vh 8vh 0 8vh;
}

.signupBtn {
  margin-left: 8vh;
}

.adminRef {
  float: right;
  margin-top: 0;
  margin-right: 3vw;
}

/*=============================*/

/*TYPOGRAPHY*/


/*Home Page*/
.font1 {
  font-family: 'Montserrat', sans-serif;
}

.lgText{
  font-size: 1.1em;
}

.logo {
  color: #424242 ;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

/*Change placeholder color*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #424242 ;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #424242 ;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #424242 ;
}
:-moz-placeholder { /* Firefox 18- */
  color: #424242 ;
}

label {
  color: #424242 ;
}

.componentTitle {
   font-size:3em;
   display: inline-block;
   margin-right: 30vw;
}

#newBtn {
   float: right;
   right: 0;
   display:  inline-block;
}

.proposalsRow{
   margin-left: 5vw;
   margin-right: 5vw;
}

.proposalItem {
   display: inline-block;
   margin: 1vw 1vw;
   width: 36vw;
}

.proposalsCard {
   min-height: 54vh;
   /*max-height: 54vh;*/
}

#upvote, #voteCount {
   display: inline-block;
   margin-right: 1em;
}

.proposalSummary {
   height: 25vh;
   /*overflow: scroll*/
}

/* Survey CSS */
input[type="radio"]:checked+label:after, input[type="radio"].with-gap:checked+label:before, input[type="radio"].with-gap:checked+label:after{
  border: 2px solid #4dd0e1;
}

[type="radio"].with-gap:checked + label:after {
border-radius: 50%;
border: 2px solid #4dd0e1;
background-color: #4dd0e1;
z-index: 0;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-ms-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5); }

#selectfield{
  font-family:"Montserrat", sans-serif;
}
.container.survey{
  width:75%;
  padding:3%;
  padding-bottom:8%;
}
/* Wizard CSS */
#bar {
  width: 100%;
  background-color: grey;
  margin-top:50px;
}
#progress1 {
  width: 33.3%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
