

/*=============================*/

/*STYLING*/

/*Home Page*/

.smMargin {
  margin: 10px;
}

.material-icons {
  margin: auto;
}

.card-image {
  display: inline-block;
  width: 7vw;
}

.card-content {
  display: inline-block;
}

.formSubtitle {
  margin-top: 8vh;
}

.input-field {
  margin: 8vh 8vh 0 8vh;
}

.adminRef {
  float: right;
  margin-top: 0;
  margin-right: 3vw;
}

/*=============================*/

/*TYPOGRAPHY*/


/*Home Page*/
.font1 {
  font-family: 'Montserrat', sans-serif;
}

<<<<<<< HEAD
.lgText{
  font-size: 1.1em;
}

.logo {
  color: #424242 ;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

/*Change placeholder color*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #424242 ;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #424242 ;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #424242 ;
}
:-moz-placeholder { /* Firefox 18- */
  color: #424242 ;
}

label {
  color: #424242 ;
}



#newBtn {
   right: 10px;
   display:  inline;
}

.proposalItem {
   border: 1px solid black;
   display: inline-block;
   margin: 1vw 1vw;
   width: 30vw;
   height: 25vh;
   overflow: scroll;
}
